:root {
  /* Color schema */

  --primary: #d5eff1;
  --secondary: #e9f9f2;
  --black: #242829;
  --white: #efefef;
  --gray-100: #6f7376;
  --gray-200: #7c7d81;
  --gray-300: #858585;
  --gray-400: #b6b6b6;
  --gray-500: #bec2c5;
  --gray-600: #c5c6ca;
  --gray-700: #ecedf1;

  /* Fonts */
  --main-font: monospace, sans-serif;
  --base-font-color: var(--black);
  --base-line-height: 1.2;
}
