.icon {
  --icon-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(var(--icon-size) * 1.25);
}

.icon-xs {
  --icon-size: 16px;
}
.icon-sm {
  --icon-size: 24px;
}
.icon-md {
  --icon-size: 32px;
}
.icon-lg {
  --icon-size: 64px;
}
.draggable-icon {
  position: absolute;
  cursor: pointer;
}
.icon-select {
}
.icon-img {
  width: var(--icon-size);
  max-width: var(--icon-size);
  height: var(--icon-size);
}
.icon-label {
  text-align: center;
  max-width: 100%;
}
