.minimizedWindowsBar {
  height: 60px;
  position: absolute;
  inset: auto 0 0;
  display: flex;
  background-color: var(--primary);
  border-top: 6px solid var(--black);
  gap: 8px;
  padding: 5px 12px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
  &.minimizedWindowsBar-empty {
    transform: translateY(100%);
  }
}
