.window {
  --window-bg: var(--white);
  --window-box-shadow: 11px 14px 0 rgba(0, 0, 0, 0.8);
  --header-wrapper-bg: linear-gradient(
    0deg,
    #000000 16.67%,
    #fff 16.67%,
    #fff 50%,
    #000000 50%,
    #000000 66.67%,
    #fff 66.67%,
    #fff 100%
  );
  --header-bg: var(--gray-200);
  --content-border-color: var(--gray-200);
  --header-border-color: var(--content-border-color);

  --header-color: var(--white);
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--window-bg);
  box-shadow: var(--window-box-shadow);
  overflow: hidden;
  resize: both;
}
.headerWrapper {
  background: var(--header-wrapper-bg);
  background-size: 6px 6px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--header-border-color);
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 5px 0;
    background-image: var(--header-wrapper-bg);
    background-repeat: repeat;
    background-size: 100% 4px;
  }
}
.headerText {
  background: var(--header-bg);
  color: var(--header-color);
  z-index: 1;
}
.windowControls {
  z-index: 1;
}
.windowContent {
  border: 1px solid var(--content-border-color);
  flex-grow: 1;
}
.window-minimized {
  position: relative;
  max-width: 120px;
  cursor: pointer;
  .windowContent,
  .windowControls {
    display: none;
  }
}
