.window {
  --window-bg: var(--secondary);
  --window-box-shadow: var(--shadow);
  --window-border-radius: 20px;
  --window-border-width: 3px;
  --window-border-color: var(--black);
  --header-bg: var(--primary);
  --content-border-color: var(--window-border-color);
  --header-color: var(--black);

  position: absolute;
  background-color: var(--window-bg);
  box-shadow: var(--window-box-shadow);
  border-radius: var(--window-border-radius);
  border: var(--window-border-width) solid var(--window-border-color);
  overflow: hidden;
  resize: both;
  &.window-active {
    --header-wrapper-bg: var(--black);
    z-index: 3999;
  }
}
.window-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.window-header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 12px;
  gap: 6px;
  cursor: pointer;
}
.header-text {
  background: var(--header-bg);
  color: var(--header-color);
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.window-controls {
}
.window-content {
  position: relative;
  border-top: var(--window-border-width) solid var(--content-border-color);
  flex-grow: 1;
  padding: 20px;
}
